<!DOCTYPE html>
<html>

<head>
  <title>Table settlers</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  
  <!-- Compiled CSS -->
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

  <!-- Vue -->
  <script src="node_modules/vue/dist/vue.js"></script>
  

</head>

<body>
  
  <main>
    <section class="home" id="home">

      <div class="container">
        <p>{{ message }}</p>

        <!--<ul class="game-list">
          <games-item
              v-for="item in gamesList"
              v-bind:games="item"
              v-bind:key="item.id"
            ></games-item>
        </ul> -->
      </div>
      
          
    </section>

    <section id="app">
      <h2>Cats</h2>
      <div v-for="(cat, n) in cats">
        <p>
          <span class="cat">{{ cat.name }}</span>
          <span class="cat">{{ cat.superpower }}</span>

          <!--<span class="cat">{{ cat.recursos }}</span>-->



          <div v-for="(pepito, p) in cat.recursos">

            <span class="pepito">{{ p }} : {{ pepito }}</span>

          </div>

          <button @click="removeCat(n)">Remove</button>
        </p>
      </div>

      <p>
        <input v-model="newCat">
        <button @click="addCat">Add Cat</button>
      </p>
    </section>




  </main>


<script src="js/scripts.js"></script>
</body>
</html>