<!DOCTYPE html>
<html>

<head>
  <title>Table settlers</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

  <!-- Compiled CSS -->
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

  <!-- Vue -->
  <script src="node_modules/vue/dist/vue.js"></script>


</head>

<body>

  <main>

    <section id="app">
      <h2>Cats</h2>
      <div v-for="(cat, n) in cats">
        <p>
          <span class="cat">{{ cat.name }}</span>
          <span class="cat">{{ cat.superpower }}</span>

          <!--<span class="cat">{{ cat.recursos }}</span>-->



          <div v-for="(pepito, p) in cat.recursos">

            <span class="pepito">{{ p }} : {{ pepito }}</span>

          </div>

          <button @click="removeCat(n)">Remove</button>
        </p>
      </div>

      <p>
        <span>Cat name</span>
        <input v-model="newCatName">
        <span>Cat superpower</span>
        <input v-model="newCatSP">
        <!--<input v-model="newCaSP">-->

        <ul>
        <li v-for="(input, index) in inputs">
          <span>Resource name</span>
          <input type="text" v-model="input.resourceName">
          <span>Qty</span>
          <input type="text" v-model="input.resourceQty">
          <button @click="deleteRow(index)">Delete</button>
        </li>
      </ul>
      <button @click="addRow">Add row</button>

      <br>

        <button @click="addCat">Add Cat</button>
      </p>






    </section>




  </main>


<script src="js/scripts.js"></script>
</body>
</html>
